<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.empInfo.EmpInfoMapper">
	
   	<!-- 목록 조회 -->
	<select id = "empInfolist" parameterType="java.util.Map" resultType = "kr.happyjob.study.vo.empInfo.EmpInfoModel">
        /*kr.happyjob.study.repository.empInfo.EmpInfoMapper.empInfolist*/
        select 
			ei.emp_no
			, ei.emp_name
			, ei.dept_cd
			, dc.detail_name as dept_name
			, ei.reg_date
			, dc.d_temp_field1 as lv
			, dc.d_temp_field2 as up_dept_cd
		    , (SELECT detail_name FROM tb_detail_code where detail_code = dc.d_temp_field2) as up_dept_name
		    , 'N' as fraction_yn
		from tb_emp_info ei
		left outer join tb_detail_code dc
		on ei.dept_cd = dc.detail_code
		<if test ="(emp_name != null) and (!emp_name.equals(''))">
		    and ei.emp_name  Like CONCAT('%', #{emp_name}, '%')
		</if>
		<if test ="(dept_cd != null) and (!dept_cd.equals('All'))">
		    and ei.dept_cd = #{dept_cd}
		</if>
		order by ei.dept_cd
		limit #{startpoint},#{pagesize}
	</select>
	
	<select id = "empDeptlist" parameterType="java.util.Map" resultType = "kr.happyjob.study.vo.empInfo.EmpInfoModel">
		select
		  @ROWNUM:=@ROWNUM+1 as emp_no 
		  , '' as emp_name
		  , tdc.detail_code as dept_cd
		  , tdc.detail_name as dept_name
		  , '' as reg_date
		  , tdc.d_temp_field1 as lv
  		  , tdc.d_temp_field2 as up_dept_cd
		  , '' as up_dept_name
		  , 'Y' as fraction_yn
		from tb_detail_code tdc
		, ( SELECT @ROWNUM := 0) R
		where tdc.group_code = 'dept'
		<if test ="(dept_cd != null) and (!dept_cd.equals('All'))">
		    and (
		    	tdc.detail_code = #{dept_cd}
		    	or
		    	tdc.d_temp_field2 = #{dept_cd}
		    	)
		</if>
		order by tdc.detail_code
	</select>
	
	<select id = "empInfolisttotalcnt" parameterType="java.util.Map" resultType = "int">
        /*kr.happyjob.study.repository.empInfo.EmpInfoMapper.empInfolisttotalcnt*/
		select 
			count(ei.emp_no)
		from tb_emp_info ei
		left outer join tb_detail_code dc
		on ei.dept_cd = dc.detail_code
		<if test ="(emp_name != null) and (!emp_name.equals(''))">
		    and ei.emp_name  Like CONCAT('%', #{emp_name}, '%')
		</if>
		<if test ="(dept_cd != null) and (!dept_cd.equals('All'))">
		    and ei.dept_cd = #{dept_cd}
		</if>
	</select>
	
	<insert id = "insertEmpInfo" parameterType="java.util.Map">
        /*kr.happyjob.study.repository.empInfo.insertEmpInfo*/
        
        insert into tb_emp_info
                   (
                    emp_no
                   ,emp_name
                   ,ofc_cd
                   ,dept_cd
                   ,reg_date
                  ) values (
                    #{emp_no}
                   ,#{emp_name}                    
                   ,#{ofc_cd}
                   ,#{dept_cd}
                   ,DATE_FORMAT(NOW(), '%Y%m%d')
                  )
        
	</insert>     
	
	<update id = "updateEmpInfo" parameterType="java.util.Map">
        /*kr.happyjob.study.repository.empInfo.updateEmpInfo*/
        
        update tb_emp_info
           set emp_no = #{emp_no}           
              ,emp_name = #{emp_name}
              ,dept_cd = #{dept_cd}
              ,reg_date = DATE_FORMAT(NOW(), '%Y%m%d')
         where emp_no = #{emp_no}   
	</update>
</mapper>